/*
	Description: CSS styling for the iPhone/iPod Touch
	Author: Miguel Estrada
	Author URI: http://bleucellar.com/
*/

body.portrait > * {
    min-height: 460px !important;
}
body.landscape > * {
    min-height: 320px;
}
body.portrait{
	background-color:white;
	color:black;
}
body.landscape{
	background-color:black;
	color:white;
}